#components-layout-demo-responsive .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

.main-layout {
    min-height: 100vh;
}

.container {
    padding: 24px;
    background: #fff;
    min-height: 360px;
}